 /*--- navigation bar ---*/
    
	.navbar {
		font-family: Vollkorn;
		background:#02631C;
	}
	
    .nav-link,
    .navbar-brand {
		color: white;
		cursor: pointer;
	}
	
    .nav-link {
		margin-right: 1em !important;
	}
	
	.nav-link:active {
		color: white;
		font-weight: bold;
    }

	.nav-link:focus {
		color: white;
		font-weight: bold;
    }

    .nav-link:hover {
		color: black;
	}
	
    .navbar-collapse {
		justify-content: flex-end;
    }
	
/*--- No-content ---*/

	@media (min-width: 992px) {
		.no-content {
			width: 38.2%;
			background: #02631C;
		}
	}


/*--- Content ---*/

	.content {
		font-family: Vollkorn;
		background: white;
		width: 100%;
		padding-top: 40px;
		padding-left: 10%;
		padding-right: 10%;
		font-size: medium;
	}

	@media (min-width: 768px) {
		.content {
			font-size: large;
		}
	}

	@media (min-width: 992px) {
		.content {
			width: 61.8%;
			padding-left: 5%;
  			padding-right: 5%;
		}
	} 
	
    .content h1 {
		color: #02631C;
		font-weight: bolder;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: x-large;
	}

	@media (min-width: 768px) {
		.content h1 {
			font-size: xx-large;
		}
	}

	.content h3 {
		margin-top: 20px;
		font-size: large;
		font-weight: bold;
	}

	@media (min-width: 768px) {
		.content h3 {
			font-size: x-large;
		}
	}
	
	.content p {
		text-align: justify;
		color: black;
	}

	.content table {
		width: 100%;
	}

	@media (min-width: 768px) {
		.content table {
			width: 50%;
		}
	}

	@media (min-width: 1200px) {
		.content table {
			width: 40%;
		}
	} 

	#hide {
		visibility: hidden;
	}

	#map {
		width: 100%;
		height: 200px;
	}

	@media (min-width: 768px) {
		#map {
			height: 400px;
		}
	}

/*--- Footer ---*/
	
    .footer {
		font-family: Vollkorn;
		width: 100%;
		padding-bottom: 40px;
		padding-left: 10%;
		padding-right: 10%;
		font-size: small;
	}

	@media (min-width: 768px) {
		.footer {
			font-size: medium;
		}
	}

	@media (min-width: 768px) {
		.footer {
			font-size: medium;
		}
	}

	@media (min-width: 992px) {
		.footer {
			width: 61.8%;
			padding-left: 5%;
  			padding-right: 5%;
		}
	}
	
	.footer a:link {
		color: black;
		background-color: transparent;
		text-decoration: none;
	}

	.footer a:visited {
		color: grey;
		background-color: transparent;
		text-decoration: none;
	}

	.footer a:hover {
		color: grey;
		background-color: transparent;
		text-decoration: underline;
		font-weight: bold;
	}

	.footer a:active {
		color: grey;
		background-color: transparent;
		text-decoration: underline;
		font-weight: bold;
	}